<!-- div container for two columns. map-column for the world map, info-column for country information -->

<div class="column-container">
    <div class="column map-column">
        <h2>World Map</h2>
        <object data="assets/map-image.svg" type="image/svg+xml" class="world-map">
          Your browser does not support SVG so the World Map could not be displayed.
        </object>
    </div>
    <div class="column info-column">
      <h2>Info Column</h2>
      <p>This is the info column content. Country stats from API calls will go here.</p>
    </div>
  </div>